{% extends "base.html" %}

{% block title %}Ordini Servizi{% endblock %}

{% block head_extra %}
<link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/fixedheader/3.4.0/css/fixedHeader.bootstrap5.min.css" />
<link rel="stylesheet" href="{{ url_for('static', path='css/ordini_servizi_ge.css') }}">
{% endblock %}

{% block content %}
<h2 class="mb-4">Ordini Servizi</h2>

<ul class="tabs" id="serviziTab">
    <li class="tab-item">
        <button class="tab-btn active" id="gestione-gs-tab" data-tab="ge" type="button">Gestione GS</button>
    </li>
    <li class="tab-item">
        <button class="tab-btn" id="ricerca-ordine-tab" data-tab="ricerca" type="button">Ricerca Ordine</button>
    </li>
    <li class="tab-item">
        <button class="tab-btn" id="nuovo-ordine-tab" data-tab="nuovo" type="button">Nuovo Ordine</button>
    </li>
</ul>

<div id="servizi-content-area">
    <!-- Contenuto caricato dinamicamente -->
</div>
{% endblock %}

{% block script_extra %}
<script type="text/javascript"
    src="https://cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"></script>
<script src="{{ url_for('static', path='js/ordini_servizi.js') }}"></script>
{% endblock %}